# Ignore common document file types
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.txt
*.rtf
*.odt
*.ods
*.odp

# Ignore image files if you want to exclude them too
# *.jpg
# *.jpeg
# *.png
# *.gif
# *.bmp

# Ignore temporary Office files
~$*
*.tmp
*.bak
